body {
    font-family: Sans-serif	;
}

h1 {
    background-color: pink;
    text-align: center;
    font-size: 45px;
}

.first-page li {
    font-size: 25;
    text-align: center;
    color: purple;
    line-height: 20px;
}

.italic li{
    font-style: italic;
    color: red;
}

.steps li{
    background-color: gray;
}